<div class='row'>
  <div class='col-md-6'>
    <%= f.label :firstname, Spree.t(:firstname) %><br />
    <%= f.text_field :firstname, class: 'form-control' %>

    <%= f.label :address1, Spree.t(:address1) %> <br />
    <%= f.text_field :address1, class: 'form-control' %>

    <%= f.label :city, Spree.t(:city) %> <br />
    <%= f.text_field :city, class: 'form-control' %>

    <%= f.label :state_id, Spree.t(:state) %> <br />
    <%= f.text_field :state_name, class: 'form-control', style: "width:150px; display: #{f.object.country.states.empty? ? 'block' : 'none' };", disabled: !f.object.country.states.empty? %>
    <%= f.collection_select :state_id, f.object.country.states.sort, :id, :name, { include_blank: true }, { class: 'select2', disabled: f.object.country.states.empty?} %>

    <%= f.label :phone, Spree.t(:phone) %> <br />
    <%= f.text_field :phone, class: 'form-control' %>
  </div>

  <div class='col-md-6'>
    <%= f.label :lastname, Spree.t(:lastname) %><br />
    <%= f.text_field :lastname, class: 'form-control' %>

    <%= f.label :address2, Spree.t(:address2) %> <br />
    <%= f.text_field :address2, class: 'form-control' %>

    <%= f.label :zipcode, Spree.t(:zipcode) %> <br />
    <%= f.text_field :zipcode, class: 'form-control' %>

    <%= f.label :country, Spree.t(:country) %> <br />
    <%= f.collection_select :country_id, available_countries, :id, :name, {}, { class: 'select2'} %>
  </div>
</div>

<% content_for :head do %>
  <%= javascript_tag do %>
    $(document).ready(function(){
    $('span#<%= name == Spree.t(:shipping_address) ? 's' : 'b' %>country select').change(function() { update_state('<%= name == Spree.t(:shipping_address) ? 's' : 'b' %>'); });
    });
  <% end %>
<% end %>
